@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* setting fonts and clearing default padding and margin */
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* passion img */
.head-img {
    background-image: url("https://pbs.twimg.com/media/D98GtBWXYAIRvJG?format=jpg&name=medium");
    background-repeat: no-repeat;
    background-size: cover;
    width: 97%;
    height: 450px;
    border-radius: 8px;
}
.other > .article > .articc > .rel-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.articc:nth-of-type(1) > .rel-img {
  background-image: url("./assets/socialization.jpg");
}

.articc:nth-of-type(2) > .rel-img {
  background-image: url("./assets/writing.jpg");
}

.articc:nth-of-type(3) > .rel-img {
  background-image: url("./assets/treelight.jpg");
}

/* social images */
.link-holder {
    margin-right: 10px;
}

.link-holder > img {
  width: 20px;
  height: 20px;
}

.other > .article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.main-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.main-content > .header {
    grid-row: 1;
    grid-column: 1;
}

.main-content > .get-quote {
    grid-row: 1;
    grid-column: 2;
}

.main-content > .blog-holder {
    grid-row: 2;
    grid-column: 1;
}

.main-content > .contact {
    grid-row: 2;
    grid-column: 2;
}

.contact {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    /* space division */
    .article > .articc {
        margin: 20px;
        width: 90%;
    }

    .article > .articc {
        transform: translateX(-15px);
    }

    .head-img {
        height: 200px;
        background-size: cover;
        margin-bottom: 50px;
        transform: translateY(0);
    }

    .contt {
        padding: 10px;
    }

    .other {
        margin-top: 0;
        margin-bottom: 0;
    }

    .pointers > .point > .list-content {
        width: 80%;
    }

    .get-quote > form {
        padding: 7%;
    }
}

/* Change cursor type for read more */
#ActiveReadMore {
  cursor: pointer;
  color: #df7038;
}

/* Main Header */
.header > .title {
    font-size: 30px;
    color: #1C4284;
    font-weight: 700;   
}

/* Smaller Headers and realted articles headers*/
.blog-holder > .content > .title , .articc > .title {
    font-size: 20px;
    color: #1C4284;
    font-weight: 700;
}

/* read more in realted articles */
.articc > .read-more {
  font-size: 14px;
  color: #1c4284;
  font-weight: 600;
}

/* Socials aligned */
.col1 .socials > .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.help {
  font-size: 16px;
  font-weight: 600;
}

/* Small headers */
.other > .header {
    font-size: 24px;
    font-weight: 600;
    width: 60%;
    justify-content: flex-start;
    margin: 30px;
}

/* related articles section */
.other {
  padding: 10px;
  background-color: #f3f5fa;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* related articles */
.other > .article > .articc {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
}

.articc > * {
  margin-bottom: 10px;
}

/* date and views */
.lighttxt {
  font-weight: 100;
  font-size: 10px;
}

/* socials box */
.col1 .socials {
  border: solid #ccd1de 1px;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col1 .socials > .help,
.col1 .socials > .subtt {
  display: flex;
  justify-content: center;
  margin: 8px;
}

/* articles container box */
.other > .article {
    width: 60%;
}

/* Points styling */
.contt > .head {
  margin-bottom: 20px;
}

.pointers {
  display: flex;
  flex-direction: column;
}

.pointers > .point {
  display: flex;
  flex-direction: row;
}

.pointers > .point > .numero {
  background-color: #1c4284;
  color: #ccd1de;
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  font-weight: 500;
}

.pointers > .point > .list-content {
  transform: translateX(40px);
  display: flex;
  flex-direction: column;
}

.pointers > .point > .list-content > .header {
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  color: #1c4284;
  overflow: hidden;
}

.pointers > .point > .list-content > .des {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 40px;
}

/* get quote */

.get-quote > form {
  border: solid #ccd1de 1px;
  display: flex;
  flex-direction: column;
  padding: 4%;
  align-items: center;
}

form > .gquote {
  font-size: 20px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

form > input,
form > select {
  margin: 8px;
  height: 30px;
  background-color: #fff;
  border: solid #ccd1de 2px;
  padding: 4px;
  border-radius: 4px;
  width: 80%;
}

form > select,
form > .quote-get {
  height: 40px;
  width: 83%;
}

form > .quote-get {
  border: solid #a72694 1px;
  background-color: #a72694;
  color: #fff;
}

form > select:invalid {
  color: #ccd1de;
}
