/* footer */
.footer {
  background-color: #132e59;
  color: #ffffff;
}
.footer-wrapper {
  width: 70%;
  margin: auto;
}
.footer-top {
  padding: 54px 0;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
}
.logo-socials,
.quick-links,
.address,
.subscribe {
  width: 24%;
}
.quick-links .top-header,
.address .top-header,
.subscribe .top-header {
  font-size: 18px;
  font-weight: 600;
}
.footer-wrapper .logo-socials img {
  display: block;
  width: 128px;
}
.footer-wrapper .logo-socials .socials {
  padding: 20px 0;
}
.footer-wrapper .socials a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}
.quick-links .split-into-two {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0 0;
}
.quick-links .split-into-two a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.quick-links .split-into-two .left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.quick-links .split-into-two .right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer .address i {
  padding: 0 6px 0 0;
}
.footer .address .address-lines,
.footer .address .phone,
.footer .address .mail {
  margin: 6px 0;
  display: flex;
  font-size: 12px;
  padding: 0 6px;
}
.footer .address .address-lines {
  margin: 30px 0 12px 0;
}
.footer .subscribe .updates {
  margin: 30px 0 0 0;
  font-size: 14px;
}
.footer .subscribe .input-form {
  display: flex;
  height: 42px;
  margin: 12px 0;
}
.footer .subscribe .input-form input {
  border-radius: 6px 0 0 6px;
  width: 70%;
  border: none;
  padding: 0 6px;
}
.footer .subscribe .input-form button {
  width: 42px;
  height: 42px;
  border-radius: 0 6px 6px 0;
  border: none;
  color: #ffffff;
  background-color: #1c4284;
}
.footer-bottom {
  text-align: center;
  padding: 14px 0;
  font-weight: 400;
  font-size: 14;
}
@media screen and (max-width: 767px) {
  .footer-wrapper {
    width: 94%;
  }
  .footer-top {
    flex-direction: column;
  }
  .logo-socials,
  .quick-links,
  .address,
  .subscribe {
    width: 100%;
    margin: 20px 0;
  }
  .footer .address i {
    font-size: 18px;
  }
  .quick-links .split-into-two {
    flex-direction: column;
  }
  .footer .address .address-lines,
  .footer .address .phone,
  .footer .address .mail {
    align-items: center;
  }
}
